/* Base styles */
:root {
  --caption-opacity: 0.5;
  --toggle-hover-color: rgb(0 0 0 / 0.1);
  --toggle-active-color: rgb(0 0 0 / 0.2);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --caption-opacity: 0.6;
    --toggle-hover-color: rgb(255 255 255 / 0.1);
    --toggle-active-color: rgb(255 255 255 / 0.2);
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background: Canvas;
  color: CanvasText;
}

/* Options panel */
#pdfjsOptions {
  margin-bottom: 8px;
}

.options > div {
  padding: 16px;
}

.options > div:not(:first-of-type) {
  border-top: 1px solid ButtonBorder;
}

.options .caption {
  padding-top: 4px;
  opacity: var(--caption-opacity);
}

.options .header {
  display: flex;
  justify-content: space-between;
}

.options input:not([type="checkbox"]) {
  box-sizing: border-box;
}

.options :is(select, input:not([type="checkbox"])) {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options input:invalid {
  outline: none;
  box-shadow: 0 0 0 2px crimson;
}

.more.options {
  margin-top: 10px;
  border: 1px solid ButtonBorder;
  border-radius: 8px;
}

.more:disabled {
  border-color: transparent;
}

.more:disabled > div {
  display: none;
}

.more > legend input {
  margin-right: 8px;
}

/* Boolean option toggle widget */
.toggle {
  --height: 16px;
  --width: calc(var(--height) * 2);
  --half-height: calc(var(--height) / 2);
  --thumb-size: calc(var(--height) - 4px);
  --shadow: inset 0 0 0 var(--half-height);
  display: flex;
  align-items: center;
}

.toggle > input {
  position: absolute;
  appearance: none;
  pointer-events: none;
  opacity: 0;
}

.toggle > label {
  box-sizing: border-box;
  height: var(--height);
  width: var(--width);
  border: 1px solid ButtonBorder;
  border-radius: var(--half-height);
  background: ButtonFace;
}

.toggle > label:hover {
  box-shadow: var(--shadow) var(--toggle-hover-color);
}
.toggle > label:active {
  box-shadow: var(--shadow) var(--toggle-active-color);
}

.toggle :checked + label {
  border-color: transparent;
  background: blue;
  background: AccentColor;
}

.toggle > label::before {
  content: "";
  display: block;
  margin: 1px;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background: currentColor;
  opacity: 0.5;
  transition: translate 100ms;
}

.toggle :checked + label::before {
  background: Canvas;
  opacity: 1;
  translate: calc(var(--width) / 2);
}

.toggle :focus-visible + label {
  outline: auto;
  outline-offset: 2px;
}
