/* Base styles */
:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --base-font-size: 15px;
  --option-padding: 16px 6px;
  --caption-opacity: 0.5;
  --accent-color: royalblue;
  --hover-color: rgb(var(--black), 0.1);
  --active-color: rgb(var(--black), 0.2);
  --border-color: var(--hover-color);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: rgb(35, 34, 43);
    --caption-opacity: 0.6;
    --accent-color: skyblue;
    --hover-color: rgb(var(--white), 0.1);
    --active-color: rgb(var(--white), 0.2);
    --border-color: var(--active-color);
  }
}

html, body {
  margin: 0;
  padding: var(--body-padding, 0);
  font-family: system-ui, -apple-system, Arial, sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
  background-color: var(--main-background, Field);
  color: FieldText;
}


/* Options panel */
.options > div {
  padding: var(--option-padding);
}

.options > div:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.options .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options .caption {
  padding-top: 4px;
  opacity: var(--caption-opacity);
}

.optionField {
  width: var(--field-width, 200px);
  padding: var(--field-padding, 0.45em);
  border: var(--field-border, transparent);
  border-radius: var(--field-corner-radius, 4px);
  font-family: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--field-background, ButtonFace);
}

input.optionField {
  box-sizing: border-box;
}

button.optionField {
  width: auto;
  padding: var(--button-padding, 0.45em 1em);
}

.optionField:invalid {
  outline: var(--invalid-outline, none);
  box-shadow: 0 0 0 2px crimson;
}

.more.options {
  margin: var(--option-padding);
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.more:disabled {
  margin-bottom: 0;
  padding-left: 0;
  border-color: transparent;
}

.more > legend input {
  margin-left: 0;
  margin-right: 8px;
}

legend > label > * {
  vertical-align: middle;
}

legend :checked + span, button.optionField {
  font-weight: var(--bold-font-weight, 600);
}

#pdfjsOptions + div {
  margin: var(--option-padding);
  margin-top: 0;
}

#pdfjsOptions + div > span {
  padding: var(--button-padding);
  font-style: oblique;
}

.options:empty + div, .more:disabled > div,
#resetOptions:disabled, #resetOptions:enabled ~ * {
  display: none;
}


/* Boolean option toggle widget */
.toggle {
  --height: 16px;
  --width: calc(var(--height) * var(--proportion, 2));
  --end-radius: calc(var(--height) * 0.5);
  --thumb-size: calc(var(--height) - 4px);
  --groove-length: calc(var(--width) - var(--height));
  flex-shrink: 0;
}

.toggle > input {
  position: absolute;
  appearance: none;
  pointer-events: none;
  opacity: 0;
}

/* Widget: groove */
.toggle > label {
  display: block;
  box-sizing: border-box;
  height: var(--height);
  width: var(--width);
  border: 1px solid var(--border-color, ButtonBorder);
  border-radius: var(--end-radius);
  background-color: var(--background, ButtonFace);
  z-index: 0;
}

.toggle :checked + label {
  border-color: transparent;
  background-color: var(--accent-color);
}

/* Widget: thumb */
.toggle > label::before {
  content: "";
  display: block;
  margin: var(--thumb-margin, 1px);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.5;
  transition: var(--toggle-transition);
  transition-property: translate;
  z-index: 1;
}

.toggle :checked + label::before {
  background-color: Canvas;
  opacity: 1;
  translate: var(--groove-length);
}

.toggle :focus-visible + label {
  outline: var(--focus-outline, auto);
  outline-offset: 2px;
}

.toggle > label:hover, .optionField:hover {
  background-image: linear-gradient(var(--hover-color), var(--hover-color));
}
.toggle > label:active, button.optionField:active {
  background-image: linear-gradient(var(--active-color), var(--active-color));
}


/* Chrome-specific styles */
body.chrome {
  --base-font-size: 13px;
  --bold-font-weight: 500;
  --body-padding: 4px 0;
  --option-padding: 12px 20px;
  --caption-opacity: 0.6;
  --field-width: 150px;
  --field-padding: 6px 4px;
  --button-padding: 7px 14px;
  --field-corner-radius: 6px;
  --field-background: transparent;
  --field-border-color: var(--active-color);
  background-image: linear-gradient(to bottom, rgb(var(--black), 0.1), transparent 8px);
}

@media (prefers-color-scheme: dark) {
  body.chrome {
    --main-background: rgb(41, 42, 45);
    --field-border-color: ButtonBorder;
  }
}

.chrome :is(select, button, label, label > *),
.chrome .options > div:has(.toggle) > * {
  cursor: pointer;
}

.chrome .optionField {
  border: 1px solid var(--field-border-color);
  font-size: inherit;
  outline-offset: 2px;
}

.chrome input.optionField {
  padding-left: 8px;
}

.chrome button.optionField {
  --field-corner-radius: 16px;
  --field-border-color: var(--accent-color);
  color: var(--accent-color);
}

.chrome .more > div {
  --field-width: 130px;
  --option-padding: 12px 10px;
}

.chrome .toggle {
  --proportion: 1.625;
  --thumb-margin: 0;
  --thumb-size: var(--end-radius);
  --background: var(--hover-color);
  --ripple-size: calc(var(--thumb-size) * 2.5);
  --focus-outline: 2px solid var(--accent-color);
}

.chrome .toggle > label {
  position: relative;
  transition: var(--toggle-transition);
  transition-property: background-color;
}

.chrome .toggle > label:is(:hover, :active) {
  background-image: none;
}

.chrome .toggle :checked + label {
  --thumb-size: calc(var(--height) * 0.75);
}

.chrome .toggle > label::after,
.chrome .toggle > label::before {
  position: absolute;
  top: 50%;
  left: calc(var(--end-radius) - 1px);
  transform: translate(-50%, -50%);
  transition: var(--toggle-transition);
  transition-property: translate, background-color, width, height;
}

.chrome .toggle > label:active::before {
  --thumb-expand: calc(var(--thumb-size) + 2px);
  width: var(--thumb-expand);
  height: var(--thumb-expand);
}

/* Ripple around the thumb */
.chrome .toggle > label:hover::after {
  content: "";
  width: var(--ripple-size);
  height: var(--ripple-size);
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.1;
  z-index: 2;
}

.chrome .toggle :checked + label::after {
  translate: var(--groove-length);
}


/* Accessibility */
@media (prefers-reduced-motion: no-preference) {
  :root {
    --toggle-transition: 100ms;
  }
  .chrome {
    --toggle-transition: linear 80ms;
  }
}

@media (prefers-contrast: more) {
  :root {
    --main-background: -moz-Dialog;
    --field-border: 1px solid currentColor;
    --border-color: ButtonBorder;
  }
  .caption {
    --caption-opacity: 1;
  }
  .toggle {
    --border-color: currentColor;
    --thumb-opacity: 1;
  }
  body.chrome {
    --main-background: initial;
    --field-border-color: currentColor;
    background-image: none;
    border-top: var(--field-border);
  }
}

@media (forced-colors: active) {
  :root {
    --accent-color: currentColor;
    --invalid-outline: 2px dashed;
  }
  .toggle > label:hover {
    border-color: AccentColor;
    color: AccentColor;
  }
  .toggle :checked + label:hover, .optionField:hover {
    background-color: AccentColor;
  }
  @media not (prefers-color-scheme: dark) {
    .optionField:hover { color: Canvas; }
  }
}
