/* Base styles */
:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --base-font-size: 15px;
  --option-padding: 16px 6px;
  --caption-opacity: 0.5;
  --accent-color: royalblue;
  --hover-color: rgb(var(--black), 0.1);
  --active-color: rgb(var(--black), 0.2);
  --toggle-groove-color: rgb(var(--white), 0.5);
  --border-color: var(--hover-color);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: rgb(35, 34, 43);
    --caption-opacity: 0.6;
    --accent-color: skyblue;
    --hover-color: rgb(var(--white), 0.1);
    --active-color: rgb(var(--white), 0.2);
    --toggle-groove-color: rgb(var(--black), 0.5);
    --border-color: var(--active-color);
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Arial, sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
  background-color: var(--main-background, Field);
  color: FieldText;
}


/* Options panel */
.options > div {
  padding: var(--option-padding);
}

.options > div:not(:first-of-type) {
  border-top: 1px solid var(--border-color);
}

.options .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options .caption {
  padding-top: 4px;
  opacity: var(--caption-opacity);
}

input.optionField {
  box-sizing: border-box;
}

.optionField {
  width: var(--field-width, 200px);
  padding: var(--field-padding, 0.45em);
  border-radius: 4px;
  border-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--field-background, ButtonFace);
}

.optionField:invalid {
  outline: none;
  box-shadow: 0 0 0 2px crimson;
}

.optionField:hover {
  background-image: linear-gradient(var(--hover-color), var(--hover-color));
}

.more.options {
  margin: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.more:disabled {
  border-color: transparent;
}

.more:disabled > div {
  display: none;
}

.more > legend input {
  margin-right: 8px;
}

legend > label > * {
  vertical-align: middle;
}

legend :checked + span {
  font-weight: 600;
}


/* Boolean option toggle widget */
.toggle {
  --height: 16px;
  --width: calc(var(--height) * var(--proportion, 2));
  --half-height: calc(var(--height) / 2);
  --thumb-size: calc(var(--height) - 4px);
  --thumb-color: currentColor;
  --groove-length: calc(var(--width) / 2);
  --toggle-transition: translate 100ms;
  flex-shrink: 0;
}

.toggle > input {
  position: absolute;
  appearance: none;
  pointer-events: none;
  opacity: 0;
}

/* Widget: groove */
.toggle > label {
  display: block;
  box-sizing: border-box;
  height: var(--height);
  width: var(--width);
  border: var(--border-size, 1px) solid ButtonBorder;
  border-radius: var(--half-height);
  background-color: var(--toggle-color, ButtonFace);
  z-index: 0;
}

.toggle :checked + label {
  border-color: transparent;
  background-color: var(--accent-color);
}

.toggle > label:hover {
  background-image: linear-gradient(var(--hover-color), var(--hover-color));
}
.toggle > label:active {
  background-image: linear-gradient(var(--active-color), var(--active-color));
}

/* Widget: thumb */
.toggle > label::before {
  content: "";
  display: block;
  margin: var(--thumb-margin, 1px);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background-color: var(--thumb-color);
  opacity: var(--thumb-opacity, 0.5);
  transition: var(--toggle-transition);
  z-index: 1;
}

.toggle :checked + label::before {
  background-color: Canvas;
  opacity: 1;
  translate: var(--groove-length);
}

.toggle :focus-visible + label {
  outline: var(--toggle-outline, auto);
  outline-offset: 2px;
}


/* Chrome-specific styles */
body.chrome {
  --base-font-size: 13px;
  --option-padding: 12px 20px;
  --caption-opacity: 0.6;
  --field-width: 150px;
  --field-padding: 4px;
}

@media (prefers-color-scheme: dark) {
  body.chrome {
    --main-background: rgb(41, 42, 45);
    --field-background: Canvas;
  }
  .chrome .toggle {
    --ripple-opacity: 0.4;
  }
}

.chrome .options > div:first-child {
  background: linear-gradient(to bottom, rgb(var(--black), 0.1), transparent 10%);
  padding-top: 16px;
}

.chrome :is(select, label, label > *),
.chrome .options > div:has(.toggle) > * {
  cursor: pointer;
}

.chrome .optionField {
  margin-bottom: 1px;
  outline-offset: 2px;
}

.chrome :is(.optionField, .toggle > label):is(:hover, :active) {
  background-image: none;
}

.chrome .toggle {
  --height: 12px;
  --proportion: 7 / 3;
  --border-size: 0;
  --thumb-margin: 0;
  --thumb-size: calc(var(--height) + 4px);
  --toggle-color: darkgray;
  --thumb-color: white;
  --thumb-opacity: 1;
  --groove-length: calc(var(--width) + 6px - var(--thumb-size));
  --toggle-outline: none;
  --ripple-size: calc(var(--thumb-size) * 2.5);
  --toggle-transition: translate linear 80ms, background-color linear 80ms;
}

.chrome .toggle > label {
  position: relative;
  opacity: 0.85;
  transition: var(--toggle-transition);
}

.chrome .toggle :checked + label {
  box-shadow: inset 0 0 0 var(--half-height) var(--toggle-groove-color);
}

.chrome .toggle > label::before {
  transform: translate(-3px, -2px);
  box-shadow: 0 1px 3px rgb(var(--black), 0.5);
}

.chrome .toggle :checked + label::before {
  background-color: inherit;
}

/* Ripple around the thumb */
.chrome .toggle :focus-visible + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(-3px + var(--thumb-size) / 2);
  width: var(--ripple-size);
  height: var(--ripple-size);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: var(--ripple-opacity, 0.1);
  transition: var(--toggle-transition);
  z-index: 2;
}

.chrome .toggle :checked + label::after {
  background-color: inherit;
  opacity: var(--ripple-opacity, 0.4);
  translate: var(--groove-length);
}
